.backdrop{
    inset: 0;
    width: 100vw;
    height: 100vh;
    position: absolute;
    backdrop-filter: blur(2px);
    background: rgba(0,0,0,0.4);

}

.modal {
    background-color: #242324;
    color: white;
    inset: 0;
    overflow-y: auto;
    position: fixed;
    max-width: 400px;
    width: 100%;
    height: fit-content;
    max-height: 100%;
    box-shadow: 0 5px 10px 2px black; 
    padding: 20px;
    text-align: center;
    border-radius: 4px;
    margin: auto;
}

.modalHeader {
    height: fit-content;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: end;
}

.headerClose {
    background-color: red;
    border: 1px solid black; 
    border-radius: 50%;
    height: 13px;
    width: 13px;
    cursor: pointer;
}

.actionPanel {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 20px;
    border-top: 1px solid grey;
}

.actionBtn {
    border-radius: 8px;
    width: fit-content;
    padding: 6px 34px;
    margin: 10px 20px;
    background-color: var(--color-secondary-2-0);
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bolder;
}

.message{
    color: white;
}
