.gui {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 80%;;
}

#quit {
    font-size: 2rem;
    width: 200px;
    background: url("../assets/bubblee.jpg");
    background-size: 30%;
    border: cyan outset 3px;
    color: white;
}

#turn {
    background: url("../assets/bubblee.jpg");
    color: white;
    width: 300px;
    text-align: center;
    border-radius: 10px;
    border: grey outset 3px;
    font-size: 2rem;;
}
