.navigate {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 10px;
    left: 30px;
    z-index: 100;
}

#lobby {
    width: 30px;
}

#refresh {
    width: 50px;
    height: 50px;
}

#left{
    width: 50px;
    height: 50px;
}

.link {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    transition: 0.2s;
}
