.content {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    z-index: 2;
    backdrop-filter: blur(1px);
    width: 80%;
    height: 100%;
    margin: 0 auto;
    background: var(--color-secondary-2-3);
    color: white;
}

#background_image {
    position: absolute;
    inset: 0;
    height: 100%;
    background: url("../assets/stars2.jpg");
}

.header {
    width: 100%;
    height: 80px;
    padding: 0 5px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: #1f47fe;
    background-image:  linear-gradient(30deg, #376fff 12%, transparent 12.5%, transparent 87%, #376fff 87.5%, #376fff), linear-gradient(150deg, #376fff 12%, transparent 12.5%, transparent 87%, #376fff 87.5%, #376fff), linear-gradient(30deg, #376fff 12%, transparent 12.5%, transparent 87%, #376fff 87.5%, #376fff), linear-gradient(150deg, #376fff 12%, transparent 12.5%, transparent 87%, #376fff 87.5%, #376fff), linear-gradient(60deg, #376fff77 25%, transparent 25.5%, transparent 75%, #376fff77 75%, #376fff77), linear-gradient(60deg, #376fff77 25%, transparent 25.5%, transparent 75%, #376fff77 75%, #376fff77);
    background-size: 54px 95px;
    background-position: 0 0, 0 0, 27px 47px, 27px 47px, 0 0, 27px 47px;

    border-bottom: 1px solid var(--color-secondary-1-4);
}

.seperator {
    width: 100%;
    height: 65px;
    background: url("../assets/seperator.png");
}

#title {
    margin: 0 10px;
}

.lavalamp {
    height: 100%;
}

#waiting_room {
    height: 100%;
    width: 100%;
    padding: 0 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.button_container {
    height: auto;
    width: 100%;
    text-align: right;
    border-top: 1px solid var(--color-secondary-2-1);
    padding: 10px 0;
}

.button_start {
    color: white;
    width: 150px;
    height: 60px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: bold;
    border: 3px solid white;
    border-radius: 4px;
    background: var(--color-secondary-2-4);
    box-shadow: 0 3px 0 0 white;
}

.button_start:active{
    box-shadow: none;
    transform: translateY(3px);

}


.settings {
    width: 100%;
    border-bottom: 1px solid var(--color-secondary-2-1);
}

.settings h2{
    display: inline-block;
    width: 50%;
    text-align: left;
}

.waiting_content{
    width: 100%;
    height: 200px;
}

.players_container {
    display: inline-block;
    width: 50%;
    text-align: left;
}

.player_names{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100px;
    align-items: start;
    justify-content: space-evenly;
}

.game_mode{
    padding: 5px 10px;
}
